@charset "utf-8";


div#grid {
	display: grid;
	margin: 5% 5% 5% 5%;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
}

div#grid p{
font-size: 1.5em;
}

div#grid img{
    width: 100%;
}

/* div#grid blockquote{
   size-adjust: left;
} */

article {
    column-count: 2;
    /* min-width: 350px; */
    column-gap: 20px;
    column-rule: 2px solid black;
 }
 
 article p {
    widows: 4;
    orphans: 4;

 }

 article {
    margin: 0 5% 5% 5%;
 }

 /* Blockquote */

 blockquote {
   background: rgb(241, 241, 241);
   border-left: 10px solid rgb(19, 9, 66);
      border-radius: 20%;
    width: 40%;
    margin: 1%;
    padding: 2%;
 }

 blockquote p:first-of-type:before {
   color: rgba(176,124,48,0.50);
   content: open-quote;
   font-size: 4em;
   line-height: 0.1em;
   margin: 0.2em 0.1em 0em 0.25em;
   vertical-align: -0.4em;
   float: left;
 }

 @media (max-aspect-ratio: 1/1){
	div#grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

   article {
      column-count: 1;
   }
}